.upload-file-widget-wrapper {
  font-family: Arial, Helvetica, sans-serif;
}

.upload-file-widget-wrapper input {
  display: none;
}

.upload-file-widget-wrapper .ufw-btn {
  border-radius: 3px;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  min-width: 90px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  display: inline-block;
  background-color: #17a2b8;
  color: #ffffff;
  margin-right: 10px;
  margin-bottom: 10px;
}

.upload-file-widget-wrapper .ufw-link {
  display: none;
}

.upload-file-widget-wrapper.has-data .ufw-link {
  display: inline-block;
}

.upload-file-widget-wrapper .ufw-btn:hover {
  background-color: #138496;
}
