/*upload-file-widget*/
.upload-file-widget{
    width:450px;
    min-height:30px;
}

.upload-file-widget .ufw-file-label{
    display:block;
}

.upload-file-widget .ufw-file-label input{
    display:none;
}

.upload-file-widget .ufw-content {
    display:none;
    position:relative;
}

.upload-file-widget.has-data .ufw-file-label{
    display:none;
}

.upload-file-widget.has-data .ufw-content {
    display:flex;
    align-items: center;

}

.upload-file-widget.has-data .ufw-content .right{
    margin-left:auto;
}

.upload-file-widget.has-data .ufw-content .ufw-btn{
    margin-left:10px;
}